
.separator {
    position: relative;
}

.separator::after {
    content: '';
    width: 1px;
    height: 9em;
    position: absolute;
    left: 55%;
    top: calc(-9em - 10px);
}

.separator::before {
    content: '';
    width: 1px;
    height: 9em;
    position: absolute;
    left: 55%;
    bottom: calc(-9em - 10px);
}

.separator.modern::after {
    background-color: rgb(250, 250, 250, .1); 
}

.separator.classic::after {
    background-color: rgba(0, 0, 0, 0.43); 
}

.separator.modern::before {
    background-color: rgb(250, 250, 250, .1); 
}

.separator.classic::before {
    background-color: rgba(0, 0, 0, 0.43); 
}

.student, .teacher {
    position: relative;
}

.student .name {
    transform: translateY(0px);
}

.student:hover {
    opacity: .4;
}
.teacher:hover {
    opacity: .4;
}



@keyframes floating {
    0% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(-0px);
    }
}